
body {
    text-align: center;
    font-family: "Arial";
}
html { 
  background: url(http://wallpaper-gallery.net/images/desktop-animal-wallpaper/desktop-animal-wallpaper-17.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}